<!-- Changed news to research -->

{% load i18n %}
{% load humanize static %}
{% load thumbnail %}
{% load urlize_target_blank %}

<li class="infinite-item card" news-id="{{ news.uuid_id }}"> <!-- Leving this for now bc I think changing the ID might break something. 05/13/20, 13:12 -->
  <div class="card-body">
    <div class="profile-picture">
      {% thumbnail research.user.picture "x60" as im %} <!-- Something is going to break for sure :) -->
        <img src="{{ im.url }}" class="pull-left" style="border-radius: 50%;" alt="{% trans 'User Image' %}" class="user-image">
      {% empty %}
        <img src="{% static 'img/user.png' %}" class="pull-left" height="60px" alt="{% trans 'No Profile Picture' %}" />
      {% endthumbnail %}
    </div>
    <div class="post">
      {% if resarch.user == request.user %}
        <a href="{% url 'research:delete_research' research.pk %}">
          <i class="fa fa-times pull-right" aria-hidden="true" title="{% trans 'Click to remove this research' %}"></i>
        </a>
      {% endif %}
      <p>
        <strong>
          <a href="{% url 'users:detail' research.user.username  %}">{{ research.user.get_profile_name|title }}</a>
        </strong>
      </p>
      <p>{{ research|urlize|urlize_target_blank }}</p>
      
      {% if research.meta_url %}
        <a href="{{ research.meta_url }}" target="_blank" class="card meta">
          {% if research.meta_image %}
            <div class="card-img-top" style="background-image: url({{ research.meta_image }})"></div>
          {% endif %}
          <div class="card-body">
            {% if research.meta_title %}
              <h5 class="card-title">{{ research.meta_title }}</h5>
            {% endif %}
            {% if research.meta_description %}
              <p class="card-text">{{ research.meta_description }}</p>
            {% endif %}
            {% if research.meta_url %}
              <p class="card-btn">{{ research.meta_url }}</p>
            {% endif %}
          </div>
        </a>
      {% endif %}
      <div class="interaction" id="interaction">
        <a href="#" class="like" title="{% for i in research.get_likers %}{{ i }}&#10;{% endfor %}">
          {% if request.user in research.get_likers %}
            <i class="heart fa fa-heart" aria-hidden="true"></i>
          {% else %}
            <i class="heart fa fa-heart-o" aria-hidden="true"></i>
          {% endif %}
          <span class="like-count">{{ research.count_likers }}</span>
        </a>
        <a href="#" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>
          <span class="comment-count">{{ research.count_thread }}</span>
        </a>
        <span class="timestamp">{{ research.timestamp|naturaltime }}</span>
      </div>
    </div>
  </div>
</li>
