<!-- Changed news to research -->

{% load i18n %}

<div class="modal fade" id="researchFormModal" tabindex="-1" role="dialog" aria-labelledby="researchFormModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Share something new!" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="postResearchForm" role="form" method="post" action="#" onsubmit="return false">
          {% csrf_token %}
          <div class="form-group">
            <p>Opportunity Title</p>
            <textarea id="researchInput" name="post" rows="1" class="form-control" maxlength="100"></textarea>
            <!-- <span id="researchCounter" class="pull-right"></span> -->

            <p>Opportunity Description</p>
            <textarea id="researchInputDescription" name="post" rows="7" class="form-control" maxlength="1000"></textarea>
            <!-- <span id="researchCounter" class="pull-right"></span> -->

            <p>Opportunity Link</p>
            <textarea id="researchInputLink" name="post" rows="1" class="form-control" maxlength="100"></textarea>
            <!-- <span id="researchCounter" class="pull-right"></span> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="postResearch" class="btn btn-primary">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Post' %}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </div>
</div>