{% load i18n %}
{% load humanize static %}
{% load thumbnail %}
{% load urlize_target_blank %}

<li class="infinite-item card" favorites-id="{{ favorites.uuid_id }}">
  <div class="card-body">
    <div class="profile-picture">
      {% thumbnail favorites.user.picture "x60" as im %}
        <img src="{{ im.url }}" class="pull-left" style="border-radius: 50%;" alt="{% trans 'User Image' %}" class="user-image">
      {% empty %}
        <img src="{% static 'img/user.png' %}" class="pull-left" height="60px" alt="{% trans 'No Profile Picture' %}" />
      {% endthumbnail %}
    </div>
    <div class="post">
      {% if favorites.user == request.user %}
        <a href="{% url 'favorites:delete_favorites' favorites.pk %}">
          <i class="fa fa-times pull-right" aria-hidden="true" title="{% trans 'Click to remove this favorites' %}"></i>
        </a>
      {% endif %}
      <p>
        <strong>
          <a href="{% url 'users:detail' favorites.user.username  %}">{{ favorites.user.get_profile_name|title }}</a>
        </strong>
      </p>
      <p>{{ favorites|safe }}</p>
      
      {% if favorites.meta_url %}
        <a href="{{ favorites.meta_url }}" target="_blank" class="card meta">
          {% if favorites.meta_image %}
            <div class="card-img-top" style="background-image: url({{ favorites.meta_image }})"></div>
          {% endif %}
          <div class="card-body">
            {% if favorites.meta_title %}
              <h5 class="card-title">{{ favorites.meta_title }}</h5>
            {% endif %}
            {% if favorites.meta_description %}
              <p class="card-text">{{ favorites.meta_description }}</p>
            {% endif %}
            {% if favorites.meta_url %}
              <p class="card-btn">{{ favorites.meta_url }}</p>
            {% endif %}
          </div>
        </a>
      {% endif %}
      <div class="interaction" id="interaction">
        <a href="#" class="like" title="{% for i in favorites.get_likers %}{{ i }}&#10;{% endfor %}">
          {% if request.user in favorites.get_likers %}
            <i class="heart fa fa-heart" aria-hidden="true"></i>
          {% else %}
            <i class="heart fa fa-heart-o" aria-hidden="true"></i>
          {% endif %}
          <span class="like-count">{{ favorites.count_likers }}</span>
        </a>
        <a href="#" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>
          <span class="comment-count">{{ favorites.count_thread }}</span>
        </a>
        <a href="#" class="attended" title="{% for i in favorites.get_attendees %}{{ i }}&#10;{% endfor %}">
          <!--<i class="fa fa-check" aria-hidden="true"></i>-->
          {% if request.user in favorites.get_attendees %}
            <i class="check fa fa-check-square" aria-hidden="true"></i>
          {% else %}            
            <i class="check fa fa-check-square-o" aria-hidden="true"></i>
          {% endif %}
          <span class="attended-count">{{ favorites.count_attendees }}</span>
          <!--<span class="comment-count">{{ favorites.count_thread }}</span>-->
        </a>
        <span class="timestamp">{{ favorites.timestamp|naturaltime }}</span>
      </div>
    </div>
  </div>
</li>
